@import url('https://fonts.googleapis.com/css?family=Open+Sans|Baloo+Thambi|Comfortaa');


*{
box-sizing: border-box;
}

body {
margin: 0px;
background-color: steelblue;
}

.container-main {
	top: 0;
	left: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
}
	.col-1 {width: 8.33%; display: inline-block; padding: 0;}
	.col-2 {width: 16.66%; display: inline-block; padding: 0;}
	.col-3 {width: 25%; display: inline-block; padding: 0;}
	.col-4 {width: 33.33%; display: inline-block; padding: 0;}
	.col-5 {width: 41.66%; display: inline-block; padding: 0;}
	.col-6 {width: 50%; display: inline-block; padding: 0;}
	.col-7 {width: 58.33%; display: inline-block; padding: 0;}
	.col-8 {width: 66.66%; display: inline-block; padding: 0;}
	.col-9 {width: 75%; display: inline-block; padding: 0;}
	.col-10 {width: 83.33%; display: inline-block; padding: 0;}
	.col-11 {width: 91.66%; display: inline-block; padding: 0;}
	.col-12 {width: 100%; display: inline-block; padding: 0;}

	.row {
	min-width: 100%;
	min-height: auto;
	padding: 0;
	margin: 0 auto;
}

button {

background-color: #cc0a20;
color: white;
border-radius: 20px;
border:0;
padding: 10px 20px 10px 20px;
margin-left: 10px;
margin-bottom: 20px;
font-family: Comfortaa;
font-size: 13px;

}

button:hover {

	background-color: #0b549e;
	color: white;
	font-family: "Comfortaa; 
	font-weight: 900;
	font-size: 14px;

}

button-1 {

background-color: #0b549e;
color: white;
border-radius: 20px;
border:0;
padding: 10px 20px 10px 20px;
margin-left: 10px;
margin-bottom: 20px;
font-family: Comfortaa;
font-size: 13px;

}

button-1:hover {

	background-color: #28B463;
	color: white;
	font-family: "Comfortaa; 
	font-weight: 900;
	font-size: 14px;

}

h1 {

	font-family: HelveticaNeue-Light; 
	font-weight: 100;
	font-size: 80px;
}

.myTextBox {

font-family: Comfortaa;
font-size: 20px !important;
color: white;

}

#searchInput {
	padding: 20px;
	width: 400px;
	height: 35px;
	font-size: 24px;
	border-radius: 20px;
	border: 0;
/*	background-color: rgba(90,255, 10, .5)*/
}

.flex-container {
  flex-flow: row wrap;
  flex-wrap: wrap
  flex: 0;
  flex-grow:1;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  justify-content: center;

}

p {

font-family: Comfortaa;
font-size: 13px;
font-weight: 800;
letter-spacing: .15em;
color: lightgray;

}


img {

	border-radius: 20px;
	border: 3.5px solid #fff;
	padding: 12px;
	margin: 10px;
	background-color: rgba(90,255, 10, .5)

}


